{% extends "base.html" %}

{% block content %}
<center>
<h1>Ver Secciones</h1>
<table>
	<tr>
		<td><a href="/sec/create_sections"><img width="5%" height="5%" align="right" src="{{url_for('static', filename='Images/add.png')}}"></a>
		</td>
	</tr>
	<tr>
	<td>
<table border="1">	
	<tr>
		<td>Id</td>
		<td>Nombre de la Seccion</td>
		<td>Descripcion</td>
		<td>Eliminar</td>
		<td>Modificar</td>	

	</tr>
	{% for item in sections %}	
	<tr>
		<td>{{item.id}}</td>
		<td>{{item.section_name}}</td>
		<td>{{item.description}}</td>
		<td><center><a href="/sec/delete_sections?id={{item.id}}"><img width="30%" height="30%" src="{{url_for('static', filename='Images/delete.png')}}"></a></center></td>
		<td><center><a href="/sec/modify_sections?id={{item.id}}"><img width="30%" height="30%" src="{{url_for('static', filename='Images/edit.png')}}"></a></center></td>
	</tr>
	{%endfor%}

</table>
</td>
</tr>
</table>
	
	</center>
{% endblock %}